body{
    background-color: #fff;
    transition: background-color 1s ease;
}

.color-white {
  background-color: #FFF; 
}
.color-grey {
  background-color: grey;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #062030;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-black {
  background-color: #000;
}

/*HOME*/

.maincontent{
	margin-top: 8%;
	position: absolute;
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	z-index: 1;
	opacity: 1;

}

strong{
	font-weight: 600 !important;

}

strong:hover{


  	color: white;
  	text-shadow: 0 0 1.5px #fff;
  	transition: .25s;

}

div h1{
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 2rem;
	font-size: 3.3rem;
	color: white;
	font-weight: 100;
} 

#pmain{

	font-weight: 100;
	text-align: center; 
	color: white;
	font-size: 2rem;

}

#changingtext{
	margin-top: 40px !important;
	color: white;
	font-size: 2rem;
}

#projectbtn{
	color: #fff;
	text-decoration: none;
	font-size: 1.8rem !important;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 10px 20px !important;
	position: relative;
	margin-top: 2%;
	margin-bottom: 3%;
	text-transform: uppercase;
	font-weight: 200;
}

#projectbtn:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#projectbtn:hover:after { 
  width: 100%; 
  left: 0; 
}

#projectbtn{
	
}

.linkimg{
	background: none;
	margin: 25px;
	border-radius: 150px;
	padding-bottom: 18px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
}

.btn:focus{
	outline: none;
	box-shadow: none !important;
}

a[class="btn links"]{
	margin-top: 20px !important;
	margin-bottom: 10px !important;
}

#linkedin:hover{
	background: #2872a3;
}

#github:hover{
	background: #7d2a7c;
}

#instagram:hover{ 
	background: #d6249f;
  	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#twitter:hover{
	background: #52a8e7;
}

#particles-js{
	position:absolute;
	width: 100%;
	height: 55rem;
	background: #414A4C;
	background: linear-gradient(to bottom, #414A4C 0%, #323B3D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #414A4C), color-stop(100%, #323B3D));
	background: -webkit-linear-gradient(top, #414A4C 0%, #323B3D 100%);
	background: -moz-linear-gradient(top, #414A4C 0%, #323B3D 100%);
	background: -o-linear-gradient(top, #414A4C 0%, #323B3D 100%);
	background: -ms-linear-gradient(top, #414A4C 0%, #323B3D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414A4C', endColorstr='#323B3D', GradientType=0);
	border: 1px solid #232C2E;
	box-shadow: inset 0 1px 0 #50595B;
	-webkit-box-shadow: inset 0 1px 0 #50595B;
	-moz-box-shadow: inset 0 1px 0 #50595B;
 }

@media only screen and (max-width: 991px) {
  div h1{
  	font-size: 2.8rem;
  }

  #pmain{
	font-size: 1.8rem;
  }

  #projectbtn{
	font-size: 1.8rem !important;
	}

  #changingtext{
	font-size: 1.8rem !important;

  }
  .panel{
  	/*height: 35rem !important;*/
  	text-align: center;
  }
}

@media only screen and (max-width: 295px) {
  
  div h1{
  	font-size: 2rem;
  }

  #pmain{
	font-size: 1.3rem;
  }

  #projectbtn{
	font-size: 1.3rem !important;
	}

  #changingtext{
	font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 500px) {
	.panel{
 	 	height: 35rem !important;
 	}
}



