body {
      background-color: #fff;
      transition: background-color 1s ease;
    }

.projects h1{
	font-weight: 200;
}

.panel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /*text-align: center !important;*/

}

.projecthome{
  color: white;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 1.3rem;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.projecthome:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #70ef5e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.projecthome:hover{
  color: white;
  text-shadow: 0 0 1.5px #fff;
  transition: .5s;
}

.projecthome:hover:after { 
  color: grey;
  width: 100%; 
  left: 0; 
}

.yelpcamp{
  background: white !important;
  border-radius: 0;
  font-size: 1.3rem;
  text-transform: uppercase; 
  border: none;
}

.yelpcamp{
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.yelpcamp:after {    
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #70ef5e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.yelpcamp:hover:after { 
  width: 100%; 
  left: 0; 
}


.sdai{
  background: #c2a336 !important;
  border-radius: 0;
  font-size: 1.3rem;
  text-transform: uppercase; 
  border: none;
}

.sdai{
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.sdai:after {    
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.sdai:hover:after { 
  width: 100%; 
  left: 0; 
}

@media only screen and (max-width: 991px) {
  .img-fluid {
    box-shadow: none !important;
  }
}

/* colours */
.color-white {
  background-color: #FFF; 
}
.color-grey {
  background-color: grey;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #062030;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-black {
  background-color: #000;
}

